{% extends 'master/base.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block body %}
<div class="main" role="main">
  <!-- Page Heading -->
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-12 form-heading">
          <h1>Staff Login</h1>
        </div>
      </div>
    </div>
  </section>
</div>
  <div class="container" style="">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <p class="{{ message.tags }}">{{ message }}</p>
      {% endfor %}
    </ul>
    {% endif %}
  {% bootstrap_messages %}
    <div class="col-lg-4 offset-lg-4 col-sm-10 offset-sm-1">
      <div class="card my-6">
          <div class="card-header text-center">
            <h3> Login to System</h3>
          </div>
          <div class="card-body">
        <form class="" action="" method="post">
            {%bootstrap_form form%}
              {%csrf_token%}
              <button type="submit" name="button">Submit</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  {%endblock%}
