{% extends 'master/base.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% bootstrap_css %}
{%load staticfiles%}
{% block body %}
<div class="main" role="main">
  <!-- Page Heading -->
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-12 form-heading">
          <h1>Client DashBoard</h1>
          <h2>Insurance Management System</h2>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="card hovercard">
    <div class="card-header text-center">
      <h3>
      <a href="{% url 'Client:add_policy' data.id%}"> <button type="button" name="button" class="btn-Primary"  style="padding: 30px; 0px; margin-right:100px;">Add Policy</button></a> <a href="#"> <button  style="margin-left:100px; padding: 30px; 0px;" type="button" name="button" class=" btn-Primary">Applied Policy</button></a></h3>
    </div>
  </div>
</div>


<div class="container">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-sm-5 md-col-7">

          <div class="card hovercard">
            <div class="card-header text-center">
              <h3>Client {{data.Name}}'s Detail</h3>
            </div>
            <div class="avatar">
              {% if data.photo %}
              <img src='{{data.photo.url}}' alt="Photo Of Client "  class="image1">
              {% endif %}
            </div>
            <br><br><br>
            <div class="info">
              <div class="title">
                <a target="_blank" href="#">{{data.Name}}</a>
              </div><br>
              <!-- <div class="col-lg-4 col-sm-5"> -->
              <u><b><h2>General Information</h2></b></u>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Form Number</label>
                <div class="col-sm-7">  <h5> {{data.Form_number}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Branch Name</label>
                <div class="col-sm-7">  <h5> {{data.Branch_name}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Client Licence Code </label>
                <div class="col-sm-7">  <h5> {{data.client_license_code}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <br><u><b><h2>Personal Information</h2></b></u>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-7">  <h5> {{data.Name}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-7">  <h5> {{data.Email}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Sex</label>
                <div class="col-sm-7">  <h5> {{data.gender}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Temp. Address</label>
                <div class="col-sm-7">  <h5> {{data.Temporary_Address}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Perm. Address</label>
                <div class="col-sm-7">  <h5> {{data.Permanent_address}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Contact Number</label>
                <div class="col-sm-7">  <h5> {{data.Contact_number}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Nationality</label>
                <div class="col-sm-7">  <h5> {{data.Nationality}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Education</label>
                <div class="col-sm-7">  <h5> {{data.Education_level}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Citizenship Number</label>
                <div class="col-sm-7">  <h5> {{data.Citizenship_number}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Income Source</label>
                <div class="col-sm-7">  <h5> {{data.Income_source}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Father Name</label>
                <div class="col-sm-7">  <h5> {{data.Fathers_name}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Mother Name</label>
                <div class="col-sm-7">  <h5> {{data.Mothers_name}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">GrandFather</label>
                <div class="col-sm-7">  <h5> {{data.Grandfathers_name}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>

                <u><b><h2>Professional Information</h2></b></u>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Company</label>
                <div class="col-sm-7">  <h5> {{data.Company_name}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Location</label>
                <div class="col-sm-7">  <h5> {{data.Company_location}}</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Other</label>
                <div class="col-sm-7">  <h5> Bikash Saud</h5>
                  <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
                </div>
              </div>

            </div>
            <!-- </div> -->
            <div class="bottom">
              <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-danger btn-sm" rel="publisher"
              href="https://plus.google.com/+ahmshahnuralam">
              <i class="fa fa-google-plus"></i>
            </a>
            <a class="btn btn-primary btn-sm" rel="publisher"
            href="https://plus.google.com/shahnuralam">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
            <i class="fa fa-behance"></i>
          </a>
        </div>
      </div>
    </div>
    <!--  Second Column start-->
    <div class="col-lg-5 col-sm-5 md-col-5">
      <div class="card hovercard">
        <div class="card-header text-center">
          <h3>Client Policy  Detail</h3>
        </div>
        <div class="avatar">
        
        </div>
        <br><br><br>
        <div class="info">
          <div class="title">
          ....
          </div><br>

    </div>
  </div>
  </div>
</div>
{%endblock%}
